 @charset "UTF-8";

 @media screen and (min-width: 778px) {
    main {
        flex-flow: row wrap;
    }

    main h1 {
        width: 100%;
    }

    main section {
        width: 350px;
        height: 490px;
        margin: 15px;
    }

    div.produto {
        flex-flow: row nowrap;
        height: 350px;
        width: 100%;
    }

    div.produto h2 {
        margin: 5px;
    }

    div.produto h3 {
        margin: 5px;
    }

    section.img {
        margin-top: 6px;
        background-size: contain;
    }
 }