@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-1: #121212;
    --cor-3: #1E1E1E;
    --cor-4: #AAAAAA;
    --cor-5: #B0FF4E;

    --fonte-padrao: 'Poppins';
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: var(--fonte-padrao);
    background-color: #121212;
    overflow-x: hidden;
}

header {
    padding: 10px;
    text-align: right;
}

header svg {
    position: fixed;
    text-align: right;
    color: #B0FF4E;
    right: 3%;
}

header svg:hover {
    color: whitesmoke;
    transition: all 1s;
}

div#quant {
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 33px;
    right: 3%;
    text-align: center;
    border-radius: 15px;
    background-color: #B0FF4E;
    position: fixed;
    color: black;
}

dialog {
    text-align: center;
    height: 90%; 
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    padding: 20px;

    background-color: var(--cor-3);
}

dialog h1 {
    text-align: center;
    color: var(--cor-5);
    margin: 30px;
}

dialog button {
    height: 50px;
    width: 200px;
    font-size: 1.2em;
    border: 3px var(--cor-5) solid;
    border-radius: 15px;
    color: var(--cor-5);
    padding: 5px;
    background-color: transparent;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog button:hover {
    background-color: var(--cor-5);
    color: black;
    transition: all 1s;
    cursor: pointer;
}

dialog div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 565px;
    background-color: var(--cor-1);
    margin-top: 40px;
    border-radius: 15px;
}

dialog section {
    background-color: var(--cor-1);
    box-shadow: none;
}

section.img {
    display: flex;
    bottom: 30px;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    background-color: blue;
    border-radius: 15px;
    margin-top: -3px;
}


section.remove {
    width: 100px;
}

section.remove svg {
    color: rgb(204, 47, 47);
    text-align: center;
}

section.remove svg:hover {
    color: rgb(133, 30, 30);
    cursor: pointer;
}


dialog div h1 {
    font-size: 1.4em;
    min-width: 147px;
    padding: 0px;
    margin: 0px;
}

dialog div h2 {
    font-size: 1.1em;
    padding: 0px;
    margin: 20px;
}

dialog div p {
    text-align: center;
    font-size: 1.12em;
}

dialog div svg {
    position: static;
    text-align: center;
}

section#controle {
    background: url(imgs/PowerStick-Pro.png) center center no-repeat;
    background-size: cover;
}

section#tenis {
    background: url(imgs/Runner-Z-9000.png) center center no-repeat;
    background-size: cover;
}

section#console {
    background: url(imgs/RetroBox.png) center center no-repeat;
    background-size: cover;
}

section#boné {
    background: url(imgs/Boné-CodeOn.png) center center no-repeat;
    background-size: cover;
}

section#fone {
    background: url(imgs/Headset.jpg) center center no-repeat;
    background-size: cover;
}

section#teclado {
    background: url(imgs/Teclado.png) center center no-repeat;
    background-size: cover;
}

section#mouse {
    background: url(imgs/Mouse.png) center center no-repeat;
    background-size: cover;
}

section#pc {
    background: url(imgs/Notebook.jpg) center center no-repeat;
    background-size: cover;
}

/* Conteudo principal*/
main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: var(--cor-1);
}

main > h1 {
    font-size: 2.5em;
    margin: 50px;
    color: var(--cor-5);
}

section {
    background-color: var(--cor-3);
    padding: 20px;
    margin-top: 80px;
    border-radius: 30px;
    box-shadow: 3px 4px 5px rgba(34, 34, 34, 0.192);
}

section h2 {
    color: white;
    padding: 15px;
}

section p {
    text-align: left;
    color: var(--cor-4);
    padding: 20px 0px;
}

section h3 {
    color: #B0FF4E;
    font-size: 1.3em;
}

section button {
    padding: 15px 40px;
    border: 3px solid var(--cor-5);
    border-radius: 20px;

    background-color: transparent;
    color: var(--cor-5);
    margin: 5px;
    margin-top: 25px;
    font-size: 1.1em;
}

section button:hover {
    background-color: var(--cor-5);
    color: black;
    transition: all 1s;
    cursor: pointer;
}

section aside {
    height: 150px;
    width: 90%;
    border: 1px #B0FF4E;
}

section aside#controle {
    margin: auto;
    background: url(imgs/PowerStick-Pro.png) no-repeat center center;
    background-size: cover;
    border-radius: 15px;

}

section aside#tenis {
    margin: auto;
    background: url(imgs/Runner-Z-9000.png) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

section aside#portatil {
    margin: auto;
    background: url(imgs/RetroBox.png) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

section aside#bone {
    margin: auto;
    background: url(imgs/Boné-CodeOn.png) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

section aside#headset {
    margin: auto;
    background: url(imgs/Headset.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

section aside#teclado {
    margin: auto;
    background: url(imgs/Teclado.png) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

section aside#mouse {
    margin: auto;
    background: url(imgs/Mouse.png) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

section aside#notebook {
    margin: auto;
    background: url(imgs/Notebook.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
}

footer {
    text-align: center;
    color: white;
    background-color: var(--cor-3);
    margin-top: 20px;
    padding: 10px;
}

footer svg {
    color: #B0FF4E;
    width: 20px;
    height: 20px;
    margin: 5px;
}